@font-face {
  font-family: 'Dancing Script';
  src: url('DancingScript-Regular.otf');
}
body{
	font-family: 'Dancing Script';
	background-color: black;
  text-align: center;
}

/*encabezado*/
#contenido{
	width: 900px;
	margin: auto;
  border-radius: 25px;
}
.inicio{
  text-decoration-line: none;
}

header {
	color: white;
  background-color: #5B7989;
  border-radius: 10px 10px 0 0 ;
  font-size: 20px;
  text-shadow: 0 2px #02010a;
  display: flex;
  flex-direction: row;
}
a{
	color: white;
}

div #principal{
  background-color:#82c3a6;
}
.titulo,.enlaces{
  margin: auto;
} 

.img1{
	width: 90%;
	height: 90%;
	display:block;
	margin:auto;
	padding: 20px;
  box-shadow: 1px #02010a;
}
header a .inicio{
  text-decoration-line: none;
}
header a .retratos and a .paisajes{
  text-decoration-line: underline;
}

/*dos columnas fotos*/
.img2,.img3{
  width: 75%;
  height: 80%;
  box-shadow: 1px 1px 1px black;
}
#enlapaisa,#enlaretra{
  color: black;
  float: none;
}
.contenedor{
  display: flex;
  flex-direction: row;
  text-align: center;
  color: black;
  padding:50px 0 40px 0;
  background-color: #d5c75f;
  border-style: 5px;
}
div [class*="imagen"]{
  max-width: 900px;
  flex-wrap: wrap;
}
/*Translate y Rotate*/
.img2:hover{
  transform: translate(20px,-5px);
  box-shadow: 2px 2px 2px #82c3a6;
}
.img3:hover{
  transform: rotate(10deg);
  box-shadow: 2px 2px 2px #82c3a6;
}
/*.imagen3{
	width: 75%;
  height: 80%;
  order: 2;
  margin: auto;
  background-color: #d5c75f;
  text-align: center;
}*/
/*pie de pagina*/
div[class*="colum"]{
  display: flex;
  flex-direction: column;
  padding-left: 1%;
  color: black;
  flex:1 2 30%;
  font-size: 19px;
}
footer {
  background-color:#C6d5c5;
  display: flex;
  flex-direction: row;
  border-radius: 0 0 10px 10px;
  text-align: center;
}
.faceb{
  width: 5%;
  height: 5%;
}



/*div #secundarias{
  background-color:#d5c75f;
}*/

/* a{
  margin-right: 0px;
} */
/*div #secundarias{
  min-height: 200px;
  flex: 1 2 50%;
}*/


 
/*@media (min-width: 900px) {
  .cuerpo{
    margin-left: 7em;
    margin-right: 7em;
  }
  .texto{

    font-size: 1.6em;
    font-family: helvetica;
  }
  .imagen{
    margin-left: auto;
    margin-right: auto;
    width:60%;
  }
}

@media (max-width: 900px) {
  .cuerpo{
    margin-left: 3em;
    margin-right: 3em;
  }
  .texto{

    font-size: 1.3em;
    font-family: helvetica;
  }
  .imagen{
    margin-left: auto;
    margin-right: auto;
    width: 30%
  }
}*/

/*media queries*/
@media (max-width:900px) {
  #contenido{
    width: 100%;
  }
 header{
    display: flex;
    flex-direction: column;
    text-align: center;
 }
 .enlaces{
    padding-bottom: 20px;
 }
 footer{
    display: flex;
    flex-direction: column;
 }
 div[class*="column"]{
    padding-left: 0;
    padding-bottom: 5%;
 } 
}
@media (max-width:900px) {
  .contenedor{
    display: flex;
    flex-direction:column;
  }
}