@font-face {
  font-family: 'Dancing Script';
  src: url('DancingScript-Regular.otf');
}
body{
	font-family: 'Dancing Script';
	background-color: black;
}
#contenido{
	max-width: 900px;
	margin: auto;
}
header{
  background-color: #5B7989;
	border-radius: 10px 10px 0 0 ;
  padding: 1px;
  margin-right: 3px;
}
header nav{
	color: white;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 20px;
}
span{
  color: white;
  float: right;
  padding: 2px;
}
a{
	color: white;
  float: right;
  padding: 2px;
}

/*header a .inicio{
	text-decoration-line: none;
}
header a .retratos and a .paisajes{
	text-decoration-line: underline;
}*/
/* a{
	margin-right: 0px;
} */

.img1{
	width: 90%;
	height: 410px;
	display:block;
	margin:auto;
	padding: 20px;
}
.img2{
	width: 40%;
	height: 270px;
	padding: 20px;
}
.img3{
	width: 40%;
	height: 270px;
	padding: 20px;
}
div #principal{
	background-color:#82c3a6;
}
div #secundarias{
	background-color:#d5c75f;
}
footer{
  background-color:#D82222;
  height: 25%;
}

/*@media (min-width: 900px) {
  .cuerpo{
    margin-left: 7em;
    margin-right: 7em;
  }
  .texto{

    font-size: 1.6em;
    font-family: helvetica;
  }
  .imagen{
    margin-left: auto;
    margin-right: auto;
    width:60%;
  }
}

@media (max-width: 900px) {
  .cuerpo{
    margin-left: 3em;
    margin-right: 3em;
  }
  .texto{

    font-size: 1.3em;
    font-family: helvetica;
  }
  .imagen{
    margin-left: auto;
    margin-right: auto;
    width: 30%
  }
}*/
/*.contenedor{
  display: flex;
  flex-flow: row wrap;
}
div [class*="bloque"]{
  min-height: 200px;
  flex: 1 2 40%;
}*/
